.espacio {
    margin-top: 20px;
}

.colorletter {
    color: black;
}

.centertext {
    text-align: center;
}

.card-color {
    background: rgba(0, 184, 91, 0.4);
}

.colorletterbutton {
    color: #008542;
}

.tablematerial {
    width: 110%;
}

.borderCard {
    border: 0.2px solid rgba(0, 184, 91, 0.4);
}

.tableheader {
    border: 0.2px solid rgba(0, 184, 91, 0.4);
    padding: 5px 8px !important;
    padding-left: 15px !important;
}

.tdtable {
    border: 0.2px solid rgba(0, 184, 91, 0.4);
    padding: 10px;
    text-align: center;
    padding-left: 10px !important;
}

.tdtablegestion {
    background: rgba(0, 184, 91, 0.08);
}

.gestionth {
    background-color: rgba(0, 184, 91, 0.4);
}

.example-container {
    height: 500px;
    overflow: auto;
}

.buttonsDisabled
{
  pointer-events: none;
    
  /* for "disabled" effect */
  opacity: 0.5;
}